@using Jacmazon_ECommerce.Extensions

@model PagedResult<Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css//pagination.css" />
    <title>ProductList</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table" border="1">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Results[0].ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Results[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <img id="loader" src=""/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        var pageIndex = 1;
        var pageCount = @Model.PageCount;

        $(window).scroll(function () {
            //當滾動到網頁底部時
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                console.log('on the ground');
                setTimeout(function() {
                    GetRecords();
                }, 1000)
            }
        })
        
        
        function GetRecords() { 
            pageIndex++;
            console.log('pageIndex' + pageIndex);
            if (pageIndex == 2 || pageIndex <= pageCount) {
                console.log('pageIndex2:' + pageIndex);
                const endpoint = '/shop/GetProductData/' + pageIndex;
                $.ajax({
                    type: "Post",
                    url: endpoint,
                    dataType: "json",
                    data: { pageIndex : pageIndex} ,
                    success: function (response) {
                        //console.log('response' + JSON.stringify(response));
                        GetData(response);
                    },
                    error: function (thrownError) {
                        console.log(thrownError);
                    }
                });
            }
        }

        function GetData(data) {
            $.each(data, function(index, value) {
                $("#tbody").append(
                    '<tr>' +
                    '<td>' + value.productId + '</td>' +
                    '<td>' + value.name + '</td>' +
                    '</tr>')
            });
        }
    </script>
</body>
</html>
